body {
  background-image: linear-gradient(hsla(2, 65%, 44%, 0.85), hsla(212, 80%, 42%, 0.85)), url('pictures/bg.jpg');
  background-position: center;
  background-repeat: repeat;
  max-width: 100%;
  height: auto;
  font-family: 'Lato', sans-serif;
  color:white;
}

header {
  text-align: center;
  align-content: center;
  height: 10%;
  display: flex;
  justify-content: center;
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 70%;
}

.player_card {
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.player_card h3 {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.player_card:hover .player_info {
  opacity: 1;
}

.player_card:hover .title_content {
  margin-top: 20px;
}

.title_content {
  text-align: center;
  align-content: center;
  margin: 100px 0 0 0;
  width: 100%;
  transition: all 0.6s;
}

.title_content>img {
  box-shadow:
    -50px -50px 0 -40px rgba(138, 130, 130, 0.5),
    50px 50px 0 -40px rgba(138, 130, 130, 0.5);
}

.player_card:hover h1:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

.player_card h1{
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  margin-bottom: 0;
  display: inline-block;
}

.player_card h1{
  transition: all 0.2s;
}

.player_card h1:hover {
  text-shadow: 0px 8px 20px rgba(138, 130, 130, 0.5);
}

h1:after {
  content: " ";
  display: block;
  width: 10%;
  height: 2px;
  border: 0;
  background: rgb(189, 162, 107);
  transition: all 0.2s;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.player_info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  color: #fff;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.player_info a {
  display: block;
  width: 100px;
  margin: 15px auto;
  background: #fff;
  color: rgb(255, 255, 255);
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  .player_info {
    display: none;
  }
  .player_card:hover .title_content,
  .title_content {
    margin-top: 40px;
  }
  .player_card {
    height: 300px;
  }
  .player_card h1 {
    font-size: 1.3em;
  }
}

.back {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  color:white;
}

.back>span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  clear: left;
}

.back>span:after {
  content: '\2190';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 40px;
  transition: 0.5s;
  float: left;
}

.back:hover>span {
  padding-right: 30px;
}

.back:hover>span:after {
  opacity: 1;
  right: 0;
}
